# Docker
alias dcu='docker-compose up -d'
alias dcd='docker-compose down'
alias dce='docker-compose exec'
alias dc1='docker-compose start'
alias dc0='docker-compose stop'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dceo='docker-compose exec composer'
alias dart='docker-compose exec app php artisan'

# PHP
alias phpunit="vendor/bin/phpunit"
#alias phpunitw="phpunit-watcher watch"
alias c="composer"
alias cu="composer update"
alias switch-php82="brew unlink php@8.1 && brew link --overwrite --force php"
alias switch-php81="brew unlink php && brew link --overwrite --force php@8.1"
alias repl="php -a"

## Laravel
alias art="php artisan"
alias xserve="php -dxdebug.remote_enable=1 -dxdebug.remote_mode=req -dxdebug.remote_port=9000 -dxdebug.remote_host=127.0.0.1 artisan serve"
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
alias tunnel='ngrok http 80'

alias copykey='command cat ~/.ssh/id_rsa.pub | pbcopy'

# Git
alias nah='git reset --hard;git clean -df'
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias phpstorm='open -na "PhpStorm.app" "`pwd`"'
alias storm=phpstorm

# VSCode
alias vscode='open -a "/Applications/Visual Studio Code.app" "`pwd`"'
alias vsc='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl ifconfig.me/ip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scape webpage
alias scrape="scrapeUrl"
